h4 Configuration
ul
  li Définir dossier où seront placées les images
  li Définir ce dossier comme fond d'écran
  li Définir un port
  li Autoriser ce port au niveau du firewall et/ou du routeur internet
  li Ajouter un ou plusieurs utilisateurs
h4 À propos
p
  | Copyright Sarbotte Designs 2013 ©
