<!DOCTYPE html>
<html data-ng-app="mi"></html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
  <title>Mi v0.1.0</title>
</head>
<body>
  <h1 class="header"> <i class="fa fa-camera-retro text-primary"></i>Mi<small>v0.1.0</small></h1>
  <div ng-controller="ServerStateCtrl">
    <button ng-cloak ng-click="toggleServerState()" ng-class="serverOn === true ? 'active btn-success' : serverOn === false ? 'btn-danger' : 'disabled'" class="btn btn-xs state-button">
       
      {{ serverOn === true ? 'Serveur On' : serverOn === false ? 'Serveur off' : 'Chargement'}}
    </button>
  </div>
  <ul bs-navbar class="list-inline app-menu nav nav-pills">
    <li data-match-route="/images" title="Images"><a href="#/images"> <i class="fa fa-picture-o"></i>Images</a></li>
    <li data-match-route="/send" title="Envoi"><a href="/#envoi"><i class="fa fa-upload"></i>Envoi</a></li>
    <li data-match-route="/settings"><a href="#/settings" title="Configuration"><i class="fa fa-cog"></i>Configuration</a></li>
    <li data-match-route="/users" title="Utilisateurs"><a href="#/users"><i class="fa fa-users"></i>Utilisateurs</a></li>
    <li data-match-route="/help" title="Aide"><a href="#/help"><i class="fa fa-question"></i>Aide</a></li>
  </ul>
  <div ng-controller="MainCtrl">
    <div data-ng-view="" class="content"></div>
  </div>
  <script src="../vendor/angular-1.2.1.js"></script>
  <script src="../vendor/angular-route-1.2.1.js"></script>
  <script src="../vendor/angular-local-storage.js"></script>
  <script src="../script.js"></script>
  <script src="../nw-script.js"></script>
</body>