
<div ng-controller="NewUserCtrl">
  <h4>Nouvel utilisateur</h4>
  <form name="newUser" class="form-inline">
    <div style="width: 200px;" class="form-group">
      <label class="sr-only">Nom</label>
      <input type="text" ng-model="user.name" required="required" placeholder="Nom" ng-focus="ng-focus" class="form-control"/><span ng-show="newUser.name.$error.required"></span>
    </div>
    <div style="width: 200px;" class="form-group">
      <label class="sr-only">Mot de passe</label>
      <input type="password" ng-model="user.password" required="required" placeholder="Mot de passe" class="form-control"/><span ng-show="newUser.password.$error.required"></span>
    </div>
    <button ng-click="save()" ng-disabled="isClean() || newUser.$invalid" class="btn btn-default">Sauver</button>
  </form>
</div>