div(ng-controller='ShowUsersCtrl')
  table.table
    thead
      tr
        th Utilisateur
        th Nombre d'images
        th
          a(ui-sref='new-user', title="Ajouter")
            i.fa.fa-plus-circle.text-success
            | Ajouter
      tbody
        tr(ng-repeat='user in users')
          td {{user.name}}
          td {{user.numberOfImages}}
          td
            a(href='javascript:void(0)', ng-click='delete(user.name)', title="Supprimer")
              i.fa.fa-minus-circle.text-danger