.row
  ul.nav.nav-pills.nav-xs.col-xs-6.col-xs-offset-4.user-type-selection-nav(bs-navbar)
    li(data-match-route='/users/receive')
      a(ui-sref="users.receive")
        i.fa.fa-mail-forward
        | Qui vous envoient
    li(data-match-route='/users/send')
      a(ui-sref="users.send")
        i.fa.fa-mail-reply
        | À qui vous envoyez
div(ui-view="test")
